<section class="hero-content">
    <h1>Bem vindo ao tech store</h1>
    <p>Sua loja favorita da industria tech</p>
    <div class="card-container">
        {{#each products}}
            <div class="card-item">
                <img src={{this.image}} alt={{this.name}}>
                <div class="details">
                    <h3>{{this.name}}</h3>
                    <p>R$ {{this.price}}</p>
                    <a href="/product/{{this.id}}" class="more">Ver mais</a>
                </div>
            </div>
        {{/each}}
    </div>
</section>